# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Dotenv files
.env*.local
!.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# IDEs and tools
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.tmproj
*.esproj
*.sln
*.suo

# Docusaurus output
.docusaurus

# Log files
*.log
logs
*.pid
*.seed
*.pid.lock

# Firebase
.firebase/
firebase-debug.log
database-debug.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarnclean

# parcel-bundler cache files
.cache

# Gatsby files
.cache/
public

# Uploaded files
/public/uploads/