# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Production
/build
/.next/
/out/

# Misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local .env files
.env*.local
.env

# Turborepo
.turbo

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Next.js
.next/
out/

# Test results
/coverage
/.nyc_output

# Mac files
.DS_Store
.AppleDouble

# Application-specific
public/uploads/
users.json
